[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Scrapy = "*"
scrapy = "*"
sqlalchemy = "*"
"psycopg2" = "*"
psycopg2-binary = "*"
requests = "*"
django = "*"
scrapy-djangoitem = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.6"
